<a href="https://colab.research.google.com/github/ja-yu/AI/blob/main/pandas%E5%AF%A6%E4%BD%9C%E9%A1%8C%E7%9B%AE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
In [1]: import numpy as np

In [2]: import pandas as pd

```
產生pandas 物件
索引為20201101到20201106
欄為ABCD
```

In [3]:
dates = pd.date_range('20201101', periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-11-01  1.223404 -1.199385  0.589860 -0.016113
2020-11-02 -0.107384 -1.286447 -0.914087 -1.218426
2020-11-03 -0.184900 -0.288995 -1.747820  0.897806
2020-11-04  1.465831 -1.172706  0.245932 -1.937194
2020-11-05 -0.418069  0.557697  1.245044 -0.268380
2020-11-06 -1.496519 -2.061205 -1.082509  0.598485

```
產生pandas 物件
```

In [6]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20201101'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-11-01  1.0  3   test  foo
1  1.0 2020-11-01  1.0  3  train  foo
2  1.0 2020-11-01  1.0  3   test  foo
3  1.0 2020-11-01  1.0  3  train  foo

顯示df2每一欄位的資料型態

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

顯示df的前三筆資料

In [11]:
df.head(3)

                   A         B         C         D
2020-11-01  1.223404 -1.199385  0.589860 -0.016113
2020-11-02 -0.107384 -1.286447 -0.914087 -1.218426
2020-11-03 -0.184900 -0.288995 -1.747820  0.897806

顯示df的後三筆資料

In [12]:
df.tail(3)

                   A         B         C         D
2020-11-04  1.465831 -1.172706  0.245932 -1.937194
2020-11-05 -0.418069  0.557697  1.245044 -0.268380
2020-11-06 -1.496519 -2.061205 -1.082509  0.598485

顯示df的索引

In [13]:
df.index

DatetimeIndex(['2020-11-01', '2020-11-02', '2020-11-03', '2020-11-04',
               '2020-11-05', '2020-11-06'],
              dtype='datetime64[ns]', freq='D')

顯示df的欄位

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

df資料以numpy array形式顯示

In [15]:
df.to_numpy()

array([[ 1.22340432, -1.19938473,  0.58986004, -0.0161133 ],
       [-0.10738354, -1.28644674, -0.91408719, -1.21842568],
       [-0.18490048, -0.28899456, -1.74781973,  0.89780641],
       [ 1.46583103, -1.17270565,  0.24593218, -1.93719365],
       [-0.41806891,  0.55769692,  1.24504446, -0.26838003],
       [-1.49651867, -2.06120508, -1.08250865,  0.59848487]])

顯示df統計學結果

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.080394 -0.908507 -0.277263 -0.323970
std    1.101514  0.912087  1.145387  1.081117
min   -1.496519 -2.061205 -1.747820 -1.937194
25%   -0.359777 -1.264681 -1.040403 -0.980914
50%   -0.146142 -1.186045 -0.334078 -0.142247
75%    0.890707 -0.509922  0.503878  0.444835
max    1.465831  0.557697  1.245044  0.897806

轉換df資料索引與欄位置

In [17]:
df.T

   2020-11-01  2020-11-02  2020-11-03  2020-11-04  2020-11-05  2020-11-06
A    1.223404   -0.107384   -0.184900    1.465831   -0.418069   -1.496519
B   -1.199385   -1.286447   -0.288995   -1.172706    0.557697   -2.061205
C    0.589860   -0.914087   -1.747820    0.245932    1.245044   -1.082509
D   -0.016113   -1.218426    0.897806   -1.937194   -0.268380    0.598485

將df欄位逆排序

In [18]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-11-01 -0.016113  0.589860 -1.199385  1.223404
2020-11-02 -1.218426 -0.914087 -1.286447 -0.107384
2020-11-03  0.897806 -1.747820 -0.288995 -0.184900
2020-11-04 -1.937194  0.245932 -1.172706  1.465831
2020-11-05 -0.268380  1.245044  0.557697 -0.418069
2020-11-06  0.598485 -1.082509 -2.061205 -1.496519

將df索引逆排序

In [19]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2020-11-06 -1.496519 -2.061205 -1.082509  0.598485
2020-11-05 -0.418069  0.557697  1.245044 -0.268380
2020-11-04  1.465831 -1.172706  0.245932 -1.937194
2020-11-03 -0.184900 -0.288995 -1.747820  0.897806
2020-11-02 -0.107384 -1.286447 -0.914087 -1.218426
2020-11-01  1.223404 -1.199385  0.589860 -0.016113

依據C欄位從小排到大

In [20]:
df.sort_values(by='C')

                   A         B         C         D
2020-11-03 -0.184900 -0.288995 -1.747820  0.897806
2020-11-06 -1.496519 -2.061205 -1.082509  0.598485
2020-11-02 -0.107384 -1.286447 -0.914087 -1.218426
2020-11-04  1.465831 -1.172706  0.245932 -1.937194
2020-11-01  1.223404 -1.199385  0.589860 -0.016113
2020-11-05 -0.418069  0.557697  1.245044 -0.268380

挑出D欄位所有資料

In [21]:
df['D']

2020-11-01   -0.016113
2020-11-02   -1.218426
2020-11-03    0.897806
2020-11-04   -1.937194
2020-11-05   -0.268380
2020-11-06    0.598485
Freq: D, Name: D, dtype: float64

挑出前三筆所有資料

In [22]:
df[0:3]

                   A         B         C         D
2020-11-01  1.223404 -1.199385  0.589860 -0.016113
2020-11-02 -0.107384 -1.286447 -0.914087 -1.218426
2020-11-03 -0.184900 -0.288995 -1.747820  0.897806

挑出20201103到20201105所有資料

In [23]:
df['20201103':'20201105']

                   A         B         C         D
2020-11-03 -0.184900 -0.288995 -1.747820  0.897806
2020-11-04  1.465831 -1.172706  0.245932 -1.937194
2020-11-05 -0.418069  0.557697  1.245044 -0.268380

挑出第一筆資料

In [24]:
df.loc[dates[0]]

A    1.223404
B   -1.199385
C    0.589860
D   -0.016113
Name: 2020-11-01 00:00:00, dtype: float64

In [26]:
df[:1]

                   A         B        C         D
2020-11-01  1.223404 -1.199385  0.58986 -0.016113

挑出B,D欄位資料

In [27]:
df.loc[:, ['B', 'D']]

                   B         D
2020-11-01 -1.199385 -0.016113
2020-11-02 -1.286447 -1.218426
2020-11-03 -0.288995  0.897806
2020-11-04 -1.172706 -1.937194
2020-11-05  0.557697 -0.268380
2020-11-06 -2.061205  0.598485

挑出第3到5筆的B,D欄位資料

In [28]:
df.loc['20201103':'20201105', ['B', 'D']]

                   B         D
2020-11-03 -0.288995  0.897806
2020-11-04 -1.172706 -1.937194
2020-11-05  0.557697 -0.268380

挑出第6筆的A,D欄位資料

In [29]:
df.loc['20201106', ['A', 'D']]

A   -1.496519
D    0.598485
Name: 2020-11-06 00:00:00, dtype: float64

挑出第5筆的B欄位資料

In [30]:
df.loc[dates[4], 'B']

0.5576969186846612

In [31]:
df.at[dates[4], 'B']

0.5576969186846612

挑出第4筆資料不含索引

In [32]:
df.iloc[3]

A    1.465831
B   -1.172706
C    0.245932
D   -1.937194
Name: 2020-11-04 00:00:00, dtype: float64

In [34]:
df.loc[dates[3]]

A    1.465831
B   -1.172706
C    0.245932
D   -1.937194
Name: 2020-11-04 00:00:00, dtype: float64

依據位置挑出第3到5筆的B,C欄位資料

In [37]:
df.iloc[2:5, 1:3]

                   B         C
2020-11-03 -0.288995 -1.747820
2020-11-04 -1.172706  0.245932
2020-11-05  0.557697  1.245044

依據位置挑出第3、6筆的B,D欄位資料

In [38]:
df.iloc[[2, 5], [1, 3]]

                   B         D
2020-11-03 -0.288995  0.897806
2020-11-06 -2.061205  0.598485

依據位置挑出第2到5筆的所有資料

In [40]:
df.iloc[1:5, :]

                   A         B         C         D
2020-11-02 -0.107384 -1.286447 -0.914087 -1.218426
2020-11-03 -0.184900 -0.288995 -1.747820  0.897806
2020-11-04  1.465831 -1.172706  0.245932 -1.937194
2020-11-05 -0.418069  0.557697  1.245044 -0.268380

依據位置挑出A到C欄位的所有資料

In [41]:
df.iloc[:, 0:3]

                   A         B         C
2020-11-01  1.223404 -1.199385  0.589860
2020-11-02 -0.107384 -1.286447 -0.914087
2020-11-03 -0.184900 -0.288995 -1.747820
2020-11-04  1.465831 -1.172706  0.245932
2020-11-05 -0.418069  0.557697  1.245044
2020-11-06 -1.496519 -2.061205 -1.082509

依據位置挑出第3筆的C欄位資料

In [42]:
df.iloc[2, 2]

-1.7478197302253249

In [43]:
df.iat[2, 2]

-1.7478197302253249

挑出欄位C大於0的所有資料

In [44]:
df[df['C'] > 0]

                   A         B         C         D
2020-11-01  1.223404 -1.199385  0.589860 -0.016113
2020-11-04  1.465831 -1.172706  0.245932 -1.937194
2020-11-05 -0.418069  0.557697  1.245044 -0.268380

df資料大於0的值顯示出來

In [45]:
df[df > 0]

                   A         B         C         D
2020-11-01  1.223404       NaN  0.589860       NaN
2020-11-02       NaN       NaN       NaN       NaN
2020-11-03       NaN       NaN       NaN  0.897806
2020-11-04  1.465831       NaN  0.245932       NaN
2020-11-05       NaN  0.557697  1.245044       NaN
2020-11-06       NaN       NaN       NaN  0.598485

複製df資料到df2
然後新增E欄位值為one,two,three,four,five,six

In [46]:
df2 = df.copy()
df2['E']=['one', 'two', 'three', 'four', 'five', 'six']
df2

                   A         B         C         D      E
2020-11-01  1.223404 -1.199385  0.589860 -0.016113    one
2020-11-02 -0.107384 -1.286447 -0.914087 -1.218426    two
2020-11-03 -0.184900 -0.288995 -1.747820  0.897806  three
2020-11-04  1.465831 -1.172706  0.245932 -1.937194   four
2020-11-05 -0.418069  0.557697  1.245044 -0.268380   five
2020-11-06 -1.496519 -2.061205 -1.082509  0.598485    six

挑出E欄位two和five的所有資料

In [47]:
df2[df2['E'].isin(['two', 'five'])]

                   A         B         C         D     E
2020-11-02 -0.107384 -1.286447 -0.914087 -1.218426   two
2020-11-05 -0.418069  0.557697  1.245044 -0.268380  five

```
設定新欄位F
索引為20201102到20201107
值為123456
然後加進df資料
```

In [49]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20201102', periods=6))
df['F'] = s1
df

                   A         B         C         D    F
2020-11-01  1.223404 -1.199385  0.589860 -0.016113  NaN
2020-11-02 -0.107384 -1.286447 -0.914087 -1.218426  1.0
2020-11-03 -0.184900 -0.288995 -1.747820  0.897806  2.0
2020-11-04  1.465831 -1.172706  0.245932 -1.937194  3.0
2020-11-05 -0.418069  0.557697  1.245044 -0.268380  4.0
2020-11-06 -1.496519 -2.061205 -1.082509  0.598485  5.0

```
依據標籤將第2筆的C欄位變為0
依據位置將第5筆的B欄位變為0
利用NumPy array把D欄位全變5
```

In [50]:
df.at[dates[1], 'C'] = 0
df.iat[4, 1] = 0
df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C  D    F
2020-11-01  1.223404 -1.199385  0.589860  5  NaN
2020-11-02 -0.107384 -1.286447  0.000000  5  1.0
2020-11-03 -0.184900 -0.288995 -1.747820  5  2.0
2020-11-04  1.465831 -1.172706  0.245932  5  3.0
2020-11-05 -0.418069  0.000000  1.245044  5  4.0
2020-11-06 -1.496519 -2.061205 -1.082509  5  5.0

```
將df複製到df2
將所有值變為負數
```

In [52]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2020-11-01 -1.223404 -1.199385 -0.589860 -5  NaN
2020-11-02 -0.107384 -1.286447  0.000000 -5 -1.0
2020-11-03 -0.184900 -0.288995 -1.747820 -5 -2.0
2020-11-04 -1.465831 -1.172706 -0.245932 -5 -3.0
2020-11-05 -0.418069  0.000000 -1.245044 -5 -4.0
2020-11-06 -1.496519 -2.061205 -1.082509 -5 -5.0

```
重新索引6筆資料到df1
並增加E欄位
E欄位第1到3筆為1，其餘沒有值
```

In [53]:
df1 = df.reindex(index=dates[0:6], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[2], 'E'] = 1
df1

                   A         B         C  D    F    E
2020-11-01  1.223404 -1.199385  0.589860  5  NaN  1.0
2020-11-02 -0.107384 -1.286447  0.000000  5  1.0  1.0
2020-11-03 -0.184900 -0.288995 -1.747820  5  2.0  1.0
2020-11-04  1.465831 -1.172706  0.245932  5  3.0  NaN
2020-11-05 -0.418069  0.000000  1.245044  5  4.0  NaN
2020-11-06 -1.496519 -2.061205 -1.082509  5  5.0  NaN

刪除有缺失值的整筆資料

In [54]:
df1.dropna(how='any')

                   A         B        C  D    F    E
2020-11-02 -0.107384 -1.286447  0.00000  5  1.0  1.0
2020-11-03 -0.184900 -0.288995 -1.74782  5  2.0  1.0

使用5來填補所有缺失值

In [55]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2020-11-01  1.223404 -1.199385  0.589860  5  5.0  1.0
2020-11-02 -0.107384 -1.286447  0.000000  5  1.0  1.0
2020-11-03 -0.184900 -0.288995 -1.747820  5  2.0  1.0
2020-11-04  1.465831 -1.172706  0.245932  5  3.0  5.0
2020-11-05 -0.418069  0.000000  1.245044  5  4.0  5.0
2020-11-06 -1.496519 -2.061205 -1.082509  5  5.0  5.0

檢查是否存在NaN,有的顯示True

In [56]:
pd.isna(df1)

                A      B      C      D      F      E
2020-11-01  False  False  False  False   True  False
2020-11-02  False  False  False  False  False  False
2020-11-03  False  False  False  False  False  False
2020-11-04  False  False  False  False  False   True
2020-11-05  False  False  False  False  False   True
2020-11-06  False  False  False  False  False   True